%html
  %head
    %title Barcode
    = stylesheet_link_tag "style"
    = javascript_include_tag :defaults, "http://pipefaye.herokuapp.com/faye.js"
    = csrf_meta_tag

  %body
    #main
      = render 'shared/topbar'
      = render 'shared/content'
      = render 'shared/footer'
